@model EziBuy.Models.ProductViewModel



@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@



<div>
    <form action="/Product/CreateProduct" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @placeholder = "Product Name" })
                @Html.ValidationMessageFor(model => model.ProductName, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.ProductDescription, new { @class = "form-control", @placeholder = "Product Description" })
                @Html.ValidationMessageFor(model => model.ProductDescription, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.ImageUpload, new { type = "file" })
                @Html.ValidationMessageFor(model => model.ImageUpload, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.AltText, new { @class = "form-control", @placeholder = "Alternate Text" })
                @Html.ValidationMessageFor(model => model.AltText, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Caption, new { @class = "form-control", @placeholder = "Caption" })
                @Html.ValidationMessageFor(model => model.Caption, "")
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Price" })
                @Html.ValidationMessageFor(model => model.Price, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.CategoryDetails, "CategoryId", "CategoryName"), "Choose Category", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "")
                @*@Html.TextBoxFor(model => model.CategoryId, new { @class = "form-control", @placeholder = "Category Id" })
                @Html.ValidationMessageFor(model => model.CategoryId, "")*@
            </div>
        </div>

        <div></div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Add New Product" class="btn btn-success" />
            </div>
        </div>

    </form>


</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


